# http://editorconfig.org
# FIXME: Doesn't work with intellij, you have to deactivate editorconfig.

root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
# Docstrings and comments use 72 as max line length (see PEP8).
max_line_length = 89

[Makefile,*.mk]
indent_style = tab
indent_size = tab
